
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.counter-display{
  text-align: center;
  margin: 100px 0px;
}

.counter-display div {
  display:inline-block;
  font-size: 100px;
  background: black;
  color:white;
  width: 80px;
}

.bi-clock{
  width: 60px;
  height:60px;
}